body {
    background-color: lightgray;
}

#todoform {
    font-size: 25px;    
}

#deleteAPIs{
    font-size: 25px;
    text-decoration: underline;
    background-color: red;
    margin-bottom: 50px;
}

#myHeader{
    font-size: 30px;
}


